{% extends "auction/base.html" %}

{% block content %}
<div class="card" style="width: 35rem;">
  <img class="card-img-top" src="{{ auction.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <form action="" method="post">
      {% if error %}
        {{ error }}
      {% endif %}
      {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <span class="input-group-text">{{ auction.actual_price }}</span>
      </div>
      <label></label>
      <input type="number" class="form-control" name="actual_price" aria-label="Amount (to the nearest dollar)">
    </div>
    <input class="btn btn-success" type="submit" value="Submit">
{#      <label>#}
{#        <input type="number" size="50px" name="actual_price">#}
{#      </label>#}
{#      <br>#}
{#      <input class="btn btn-success" type="submit" value="Submit">#}
    </form>
  </div>
</div>
{% endblock %}